<div class="overlay">
  <div class="text-center" style="width: 50%; height: 50%;
  margin: 0 auto;">
    <mat-card class="example-card">
      <h1 class="text-center">404 page not found</h1>
      <img style="width: 50%; height: 50%;" mat-card-image
           src="../../../../assets/images/notfoundpicture.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h2>Oops!  This page doesn't exist! Please check URL!</h2>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" routerLink="/homepage" routerLinkActive="active">Go back to homepage</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
