*idea
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
/venv
frontend/src/app/config.ts
\.vscode/

toolbox/pokemon_functions/

toolbox/csv_files/

api_new_outlier_functions\.py

decomposition_test\.py

frontend/frontend-angular/src/app/config\.ts
