<mat-card>
  <h3>Operators Comparison</h3>
  <form name="map2DParams" (ngSubmit)="get2DMap(map2DParams, map2DDisplayComponent)"
        [formGroup]="map2DParams">

    <mat-form-field>
      <input formControlName="startDate"
             placeholder="Start date"
             [matDatepicker]="startDate"
             [min]="minStartDate"
             [max]="maxStartDate"
             matInput
             required
             (dateChange)="setMinEndDate($event)">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="endDate"
             placeholder="End date"
             [matDatepicker]="endDate"
             [min]="minEndDate"
             [max]="maxEndDate"
             matInput
             required>
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="otherDate"
             placeholder="Other date"
             [matDatepicker]="otherDate"
             matInput>
      <mat-datepicker-toggle matSuffix [for]="otherDate"></mat-datepicker-toggle>
      <mat-datepicker #otherDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-chip-list #cordList>
        <mat-chip *ngFor="let chip of selectedCordIDs" [selectable]="selectable" [removable]="removable"
                  (removed)="removeChipCordId(chip)">
          {{chip}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>

        <input [formControlName]="'cordIDs'"
               [formControl]="cordIDsFormControl"
               placeholder="Cord IDs"
               [matChipInputFor]="cordList"
               [matAutocomplete]="autoCord"
               [matChipInputAddOnBlur]="addOnBlur"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               #chipInputCord
               matInput
        />

      </mat-chip-list>
      <mat-autocomplete #autoCord="matAutocomplete" (optionSelected)="addChipCordID($event, chipInputCord)">
        <mat-option *ngFor="let optionCordID of filteredCordIDs" [value]="optionCordID">
          {{optionCordID}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


    <mat-form-field class="full-width">
      <input [formControlName]="'kpiBaseName'"
             [formControl]="kpiBasenameFormControl"
             placeholder='KPI basename'
             [matAutocomplete]="autoKpi"
             matInput
             required>
    </mat-form-field>
    <mat-autocomplete #autoKpi="matAutocomplete">
      <mat-option *ngFor="let optionKpi of filteredKpiBasenames | async" [value]="optionKpi">
        {{optionKpi}}
      </mat-option>
    </mat-autocomplete>

    <button mat-raised-button color="primary" [type]="submit" [disabled]="!map2DParams.valid">Fetch data</button>

    <br><br>
    <mat-form-field>
      <mat-select placeholder="Select example">
        <mat-option *ngFor="let example of examplesService.EXAMPLES_2DMAP; let i = index "
                    (click)="exampleCase(example)" [value]="example">
          Test {{i+1}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-card>

