$body_color: #4771A5;
$header_color: #3340BD;
$sidebar_color: #0000B0;
$article_color: rgb(153, 162, 245);
h1, h2, h3, h4, h5, button{
  margin: 0;
  padding: 0;
  color: white;
  border: none;

  &:visited{
    border: none;
  }
  &:active{
    outline: none;
  }
  &:focus{
    outline: none;
  }
}
html, body {
  margin: 0;
  padding: 0;
  background-color: $body_color;
  color: white;
}

ul, li{
  text-align: left;
}

header{
  background-color: $header_color;
  height: 50px;
  width: 100%;
  border-bottom: solid 1px black;

  button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: transparent;
    background-image: url('img/collapse_icon.png');
    background-size: contain;

    &:active{
      border: 0;
    }
    &:hover{
      cursor: pointer;
    }
  }
}

.sidebar{
  background-color: $sidebar_color;
  display: inline-block;
  width: 200px;
  position: fixed;
  height: 100%;
  animation: 1s ease-out 0s 1 slide_from_left;
  border-right: solid 1px black;

  button{
    background-color: $header_color;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;    
    line-height: 35px;
    border: none;   
    display:inline-block;
    text-align: center;
    border-bottom: solid 1px black;

    .sub{
      height: 35px;
      animation: 1s ease-out 0s 1 slide_from_top;
    }

    h2{
      font-size: 14px;
      width: 60%;
      padding-left: 40%;
      text-align: center;

      &:before{
        content: "> ";
      }
      
      &:after{
        content: "";
        display: block;
        border-bottom: solid 4px $sidebar_color;    
        transform: scaleX(0);
        transition: transform 750ms linear; 
      }
      &:hover:after{
        transform: scaleX(1);
      }
      &:hover{
        cursor: pointer;
        transition: transform 750 linear;
      }
    }

    h1{
      font-size: 20px;
      width: 60%;
      padding-left: 20%;
      padding-right: 20%;
      &:after{
        content: "";
        display: block;
        border-bottom: solid 4px $sidebar_color;
        transform: scaleX(0);      
        transition: transform 750ms linear; 
      }
      &:hover:after{
        transform: scaleX(1);
      }
      &:hover{
        cursor: pointer;
        transition: transform 750 linear;
      }
    }
  }
}

@keyframes slide_from_left{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes slide_from_top{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}

article{
  background-color: $article_color;
  display: inline-block;
  margin-left: 20%;
  margin-top: 2%;
  width: 50%;
}