<mat-card>
  <mat-card-title *ngIf="histogramChartLoaded && !histogramChartLoading">{{cordID}}, {{acronym}}, {{kpiBaseName}}</mat-card-title>
  <!--<mat-card-title *ngIf="histogramChartLoaded && !histogramChartLoading">Cord ID: <b>{{cordID}}</b>, acronym: <b>{{acronym}}</b>, KPI basename: <b>{{kpiBaseName}}</b></mat-card-title>-->
  <mat-card-subtitle *ngIf="histogramChartLoaded && !histogramChartLoading">Data fetched in: {{fetchedIn/1000}} s
  </mat-card-subtitle>
  <div *ngIf="histogramChartLoaded && !histogramChartLoading" style="text-align: center">
    <div class="column-container">
      <h5>MAX<br/>{{ max }}</h5>
    </div>
    <div class="column-container">
      <h5>MIN<br/>{{ min }}</h5>
    </div>
    <div class="column-container">
      <h5>COVERAGE<br/>{{ coverage }}</h5>
    </div>
    <div class="column-container">
      <h5>DEVIATION<br/>{{ deviation }}</h5>
    </div>
    <div class="column-container">
      <h5>MEAN<br/>{{ mean }}</h5>
    </div>
  </div>
</mat-card>
<mat-card>
  <mat-card-title>Histogram chart:</mat-card-title>
  <canvas id="myChart" width="1000" height="300" style="width: 1000px; height: 300px;"></canvas>
  <mat-spinner *ngIf="histogramChartLoading"></mat-spinner>
</mat-card>
