<div class="text-center" style=" margin: 0 auto;width: 50%; height: 800px;">
  <mat-card>
    <h1 style="font-size: 50px;">Healthiness of data</h1>
    <mat-divider></mat-divider>
    <img style="width: 450px;" mat-card-image src="../../../../assets/images/innovative_logo.png">
  </mat-card>
  <mat-card>
    <!--<h2>Demo app 'how to use' guide:</h2>-->
    <mat-list>
      <h2 mat-subheader>"How to use" guide:</h2>
      <mat-list-item>1. Select component from components menu</mat-list-item>
      <mat-list-item>2. Choose example from select menu (some may not work)</mat-list-item>
      <mat-list-item>3. Fetch data</mat-list-item>
      <mat-list-item>4. Use X button to remove broken components</mat-list-item>
      <mat-list-item>5. Enjoy!</mat-list-item>

    </mat-list>

  </mat-card>
</div>
