<mat-sidenav-container class="sidenav-container" style="height: 100%;">
  <mat-sidenav mode="side" opened style="width: 250px;">
    <mat-card>
      <h3>Search:</h3>
      <form name="outliersForm" (ngSubmit)="getOutliers(outliersParams)" [formGroup]="outliersParams">

        <mat-form-field>
          <input formControlName="startDate"
                 matInput
                 [matDatepicker]="startDate"
                 placeholder="Start date"
                 [min]="minStartDate"
                 [max]="maxStartDate"
                 (dateChange)="setMinEndDate($event)"
                 required>
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="endDate"
                 matInput
                 [matDatepicker]="endDate"
                 placeholder="End date"
                 [min]="minEndDate"
                 [max]="maxEndDate"
                 required>
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input [formControl]="cordIDFormControl"
                 [formControlName]="'cordID'"
                 placeholder='Cord ID'
                 id="cordID"
                 matInput
                 [matAutocomplete]="autoCord"
                 required>
        </mat-form-field>
        <mat-autocomplete #autoCord="matAutocomplete">
          <mat-option *ngFor="let option of filteredCordIDs  | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field class="full-width">
          <input [formControl]="acronymFormControl"
                 [formControlName]="'acronym'"
                 matInput
                 placeholder='Acronym'
                 [matAutocomplete]="autoAcro"
                 required>
        </mat-form-field>
        <mat-autocomplete #autoAcro="matAutocomplete">
          <mat-option *ngFor="let option of filteredAcronyms | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field class="full-width">
          <input [formControl]="kpiBasenameFormControl"
                 [formControlName]="'kpiBaseName'"
                 matInput
                 placeholder='KPI basename'
                 [matAutocomplete]="autoKpi"
                 required>
        </mat-form-field>
        <mat-autocomplete #autoKpi="matAutocomplete">
          <mat-option *ngFor="let optionKpi of filteredKpiBasenames | async" [value]="optionKpi">
            {{optionKpi}}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field class="full-width">
          <input matInput id="threshold" formControlName="threshold" placeholder='Threshold'>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput id="windowSize" formControlName="windowSize" placeholder='Window size'>
        </mat-form-field>

        <button mat-raised-button color="primary" [type]="submit" [disabled]="!outliersParams.valid">Fetch data</button>
        <div>
          <br>
          <button mat-raised-button color="accent" type="button" (click)="testSet1()">Test 1</button>
          <br>
          <button mat-raised-button color="accent" type="button" (click)="testSet2()">Test 2</button>
          <br>
          <button mat-raised-button color="accent" type="button" (click)="testSet3()">Test 3</button>
        </div>
      </form>
    </mat-card>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-card style="height: 100%;">
      <h1>Outliers</h1>
      <app-outliers-display [outliersParams]="outliersParams" [formSubmitted]="formSubmitted"></app-outliers-display>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
