<mat-chip-list #chipList>
  <mat-chip *ngFor="let chip of selectedChips" [selectable]="selectable" [removable]="removable"
            (remove)="removeChip(chip)">
    {{chip}}
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>

  <input
    formControlName="chips"
    placeholder="Select chips..."
    [matChipInputFor]="chipList"
    [matAutocomplete]="autoAcr"
    [matChipInputAddOnBlur]="addOnBlur"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    matInput
    #chipInput
    [formControl]="formControl"
   required />
  <!--(matChipInputTokenEnd)="add($event)"-->
</mat-chip-list>
<mat-autocomplete #autoAcr="matAutocomplete" (optionSelected)="addChip($event, chipInput)">
  <mat-option *ngFor="let option of optionsChips" [value]="option">
    {{option}}
  </mat-option>
</mat-autocomplete>
