<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav-form">
    <router-outlet></router-outlet>
  </mat-sidenav>

  <mat-sidenav-content style="height: 100%;">
    <mat-card>
      <h3>Results</h3>
      <div class="rotate">
        <button mat-mini-fab color="accent" (click)="sidenav.toggle()">^</button>
      </div>

      <div>
        <ng-container #container></ng-container>
      </div>
    </mat-card>
    <!--<div style="height: 100%;">-->
    <!--<gridster [options]="options">-->
    <!--<gridster-item [item]="item" *ngFor="let item of dashboard; let i of index;">-->
    <!--&lt;!&ndash;<div class="button-holder">&ndash;&gt;-->
    <!--&lt;!&ndash;<button mat-mini-fab (mousedown)="removeItem($event, item)"&ndash;&gt;-->
    <!--&lt;!&ndash;(touchstart)="removeItem($event, item)">&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-icon>delete</mat-icon>&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<ndc-dynamic *ngIf="item != null"-->
    <!--[ndcDynamicComponent]="comp"-->
    <!--[ndcDynamicInputs]="inputs"-->
    <!--[ndcDynamicOutputs]="outputs"-->
    <!--&gt;</ndc-dynamic>-->
    <!--</gridster-item>-->
    <!--</gridster>-->

    <!--</div>-->


  </mat-sidenav-content>
</mat-sidenav-container>


