<div class="text-center" style=" margin: 0 auto;width: 50%; height: 800px;">
  <mat-card>
    <h1>Nokia innovative projects</h1>
    <h1>Healthiness of data</h1>
    <a href="https://github.com/nokia-wroclaw/innovativeprojects-healthiness-of-data">Github page</a>
    <mat-divider></mat-divider>
    <mat-list>
      <h2>Authors</h2>
      <mat-list-item>
        <h4 mat-line>Wojciech Adamek</h4>
      </mat-list-item>
      <mat-list-item>
        <p mat-line>Jacek Zalewski</p>
      </mat-list-item>
      <mat-list-item>
        <p mat-line>Jakub Walecki</p>
      </mat-list-item>
      <mat-list-item>
        <p mat-line>Dominika Maślanka</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3>Credits</h3>
      <mat-list-item>
        <p mat-line>Mateusz Sikora</p>
      </mat-list-item>
      <mat-list-item>
        <p mat-line>Ewa Kaczmarek</p>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
