<mat-card *ngIf="!map2DLoading">
  <mat-card-title-group>
    <mat-card-title>{{cordID1}}, {{cordID2}}, {{kpiBaseName}}
    </mat-card-title>
    <mat-card-subtitle>Data fetched in: {{fetchedIn/1000}} s
    </mat-card-subtitle>
    <button mat-mini-fab color="warn" (click)="removeComponent()">X</button>
  </mat-card-title-group>
  <div><b>Total: {{total}}</b></div>
  <div>
    <table border="1" style="border-collapse: collapse;">
      <tr>
        <th>{{cordID2}} \ {{cordID1}}</th>
        <th *ngFor="let acr1 of acrs1">{{acr1}}</th>
      </tr>
      <tr *ngFor="let acr2 of acrs2; let i = index;">
        <td>{{acr2}}</td>
        <td *ngFor="let acr of acrs1; let j = index;">
          {{matrix[i][j]}}
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="problem">{{problemMessage}}</div>
</mat-card>
<mat-card *ngIf="map2DLoading">
  <mat-spinner></mat-spinner>
</mat-card>
