<mat-card *ngIf="!map2DLoading">
  <mat-card-title-group>
    <mat-card-title>{{cordID1}}, {{cordID2}}, {{kpiBaseName}}
    </mat-card-title>
    <mat-card-subtitle>Data fetched in: {{fetchedIn/1000}} s
    </mat-card-subtitle>
    <button mat-mini-fab color="warn" (click)="removeComponent()">X</button>
  </mat-card-title-group>
  <div>
    <table border="1" style="border-collapse: collapse;">
      <tr>
        <th>x\y</th>
        <th *ngFor="let cord of cord_list">{{cord}}</th>
      </tr>
      <tr *ngFor="let cord of cord_list; let i = index;">
        <td>{{cord}}</td>
        <td *ngFor="let cord of cord_list; let j = index;">
          {{arr[i][j]}}
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="problem">{{problemMessage}}</div>
</mat-card>
<mat-card>
  <canvas [id]="map2DChartId" width="1000" height="500"></canvas>
</mat-card>
<mat-card *ngIf="map2DLoading">
  <mat-spinner></mat-spinner>
</mat-card>
