<mat-card *ngIf="!map2DLoading">
  <mat-card-title-group>
    <mat-card-title>{{cordID1}}, {{cordID2}}, {{kpiBaseName}}
    </mat-card-title>
    <mat-card-subtitle>Data fetched in: {{fetchedIn/1000}} s
    </mat-card-subtitle>
    <button mat-mini-fab color="warn" (click)="removeComponent()">X</button>
  </mat-card-title-group>
  <div><b>Total: {{total}}</b></div>
  <div>
    <table border="1" style="border-collapse: collapse;">
      <tr>
        <th>c1 \ c2</th>
        <th *ngFor="let acr2 of acrs2">{{acr2}}</th>
      </tr>
      <tr *ngFor="let acr1 of acrs1; let i = index;">
        <td>{{acr1}}</td>
        <td *ngFor="let acr of acrs2; let j = index;">
          {{matrix[i][j]}}
        </td>
      </tr>
    </table>
  </div>
  <div *ngFor="let cor of correlationList">
    <div>Acr1: {{cor.acronym1}}</div>
    <div>Acr2: {{cor.acronym2}}</div>
    <div>Value: {{cor.value}}</div>
  </div>

  <div *ngIf="problem">{{problemMessage}}</div>
</mat-card>
<mat-card *ngIf="map2DLoading">
  <mat-spinner></mat-spinner>
</mat-card>
