/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

body {
  font-family: 'Lato', sans-serif;
}

.rotate {
  position: fixed;
  transform: rotate(90deg);
  transform-origin: left top;
}

.full-width {
  width: 100%;
}

.sidenav-container {
  height: 100%;

}

.sidenav-form {
  width: 250px;
}

.white {
  color: white;
}

.nav-link {
  line-height: 48px
}

.main-content {
  min-height: 800px;
  height: calc(100vh - 64px);
}

.success{
  background-color: #4caf50;
  color: #ffffff;
}
