<mat-toolbar color="primary">
  <img src="../assets/images/nokia-logo.png">
  <a class="nav-link white" href="homepage">Home</a>
  <a class="nav-link white" href="coverage">Coverage</a>
  <a class="nav-link white" href="outliers">Outliers</a>
  <a class="nav-link white" href="draft">Draft</a>
</mat-toolbar>
<mat-grid-list cols="6" rowHeight="1000px">
  <mat-grid-tile [colspan]="6" [rowspan]="1">
    <div style="position: absolute;
  top: 5px; left: 170px;">
      <router-outlet></router-outlet>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<div class="fixed-bottom text-center">jakiś footer</div>
