<mat-toolbar color="primary">
  <img src="../assets/images/nokia-logo.png">
  <a class="nav-link white" routerLink="/homepage" routerLinkActive="active">Home</a>
  <a class="nav-link white" style="cursor: pointer;" [matMenuTriggerFor]="menu">Components</a>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <a style="color: red;" mat-menu-item routerLink="/aggregatesandhistogram" routerLinkActive="active">Aggregates&Histogram</a>
    <a style="color: green;" mat-menu-item routerLink="/coverage" routerLinkActive="active">Coverage</a>
    <a style="color: green;" mat-menu-item routerLink="/outliers" routerLinkActive="active">Outliers</a>
    <a style="color: red;" mat-menu-item routerLink="/periodicity" routerLinkActive="active">Periodicity</a>
    <a style="color: red;" mat-menu-item routerLink="/map2d" routerLinkActive="active">2D map</a>
    <a style="color: red;" mat-menu-item routerLink="/trend" routerLinkActive="active">Trend</a>

  </mat-menu>
  <a class="nav-link white" routerLink="/draft" routerLinkActive="active">Draft</a>
  <a class="nav-link white" routerLink="/about" routerLinkActive="active">About</a>


</mat-toolbar>
<div  style="min-height: 800px;  height: calc(100vh - 64px);">
      <router-outlet></router-outlet>
</div>
<div class="fixed-bottom text-center">Healthiness of data 2018</div>
