<mat-card>
  <div>
    <mat-spinner *ngIf="outliersChartLoading"></mat-spinner>
  </div>

  <mat-card-title-group *ngIf="!outliersChartLoading">
    <mat-card-title>{{cordID}}, {{acronym}}, {{kpiBaseName}}</mat-card-title>
    <mat-card-subtitle>Data fetched in: {{fetchedIn/1000}} s</mat-card-subtitle>
    <button mat-mini-fab color="warn" (click)="removeComponent()">X</button>
  </mat-card-title-group>
  <div *ngIf="problem">{{problemMessage}}</div>
  <canvas [id]="outliersChartId" width="900" height="300"></canvas>
</mat-card>
