<mat-sidenav-container class="sidenav-container" style="height: 100%;">
  <mat-sidenav mode="side" opened style="width: 250px;">
    <mat-card>
      <h3>Search:</h3>
      <form name="outliersForm" (ngSubmit)="getDecomposition(decompositionParams)" [formGroup]="decompositionParams">

        <mat-form-field>
          <input formControlName="startDate"
                 matInput
                 [matDatepicker]="startDate"
                 placeholder="Start date"
                 [min]="minStartDate"
                 [max]="maxStartDate"
                 (dateChange)="setMinEndDate($event)"
                 required>
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="endDate"
                 matInput
                 [matDatepicker]="endDate"
                 placeholder="End date"
                 [min]="minEndDate"
                 [max]="maxEndDate"
                 required>
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input [formControl]="cordIDFormControl"
                 [formControlName]="'cordID'"
                 placeholder='Cord ID'
                 id="cordID"
                 matInput
                 [matAutocomplete]="autoCord"
                 required>
        </mat-form-field>
        <mat-autocomplete #autoCord="matAutocomplete">
          <mat-option *ngFor="let option of filteredCordIDs |async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field class="full-width">
          <input [formControl]="acronymFormControl"
                 [formControlName]="'acronym'"
                 matInput
                 placeholder='Acronym'
                 [matAutocomplete]="autoAcro"
                 required
                 (focus)="inputFocus()">
        </mat-form-field>
        <mat-autocomplete #autoAcro="matAutocomplete">
          <mat-option *ngFor="let option of filteredAcronyms | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field class="full-width">
          <input [formControl]="kpiBasenameFormControl"
                 [formControlName]="'kpiBaseName'"
                 matInput
                 placeholder='KPI basename'
                 [matAutocomplete]="autoKpi"
                 required>
        </mat-form-field>
        <mat-autocomplete #autoKpi="matAutocomplete">
          <mat-option *ngFor="let optionKpi of filteredKpiBasenames | async" [value]="optionKpi">
            {{optionKpi}}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field class="full-width">
          <input matInput id="frequency" formControlName="frequency" placeholder='Frequency'>
        </mat-form-field>

        <button mat-raised-button color="primary"
                [type]="submit"
                [disabled]="!decompositionParams.valid">
          Fetch data
        </button>
        <br><br>
        <mat-form-field>
          <mat-select placeholder="Select example">
            <mat-option *ngFor="let example of examplesService.EXAMPLES; let i = index "
                        (click)="examplesService.testCase(decompositionParams, example)" [value]="example">
              Test {{i+1}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </form>
    </mat-card>
  </mat-sidenav>

  <mat-sidenav-content style="height: 100%;">
    <mat-card style="height: 100%;">
      <h1>Decomposition</h1>
      <app-decomposition-display [decompositionParams]="decompositionParamsReady"
                                 [formSubmitted]="formSubmitted"></app-decomposition-display>
    </mat-card>
  </mat-sidenav-content>

</mat-sidenav-container>
