<mat-sidenav-container class="sidenav-container" style=" height: 800px;">
  <mat-sidenav mode="side" opened style="width: 250px; height: 800px;">
    <mat-card>
      <h3>Search:</h3>
      <form name="outliersForm" (ngSubmit)="getDecomposition(decompositionParams)" [formGroup]="decompositionParams">

        <mat-form-field>
          <input formControlName="startDate" matInput [matDatepicker]="startDate" placeholder="Choose start date"
                 required>
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="endDate" matInput [matDatepicker]="endDate" placeholder="Choose end date" required>
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input [formControl]="cordIDFormControl"
                 [formControlName]="'cordID'"
                 placeholder='cord_id: Skuntank'
                 id="cordID"
                 matInput
                 [matAutocomplete]="autoCord"
                 required>
        </mat-form-field>
        <mat-autocomplete #autoCord="matAutocomplete">
          <mat-option *ngFor="let option of filteredCordIDs |async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field class="full-width">
          <input [formControl]="acronymFormControl"
                 [formControlName]="'acronym'"
                 matInput
                 placeholder='acronym: dilfihess'
                 [matAutocomplete]="autoAcro"
                 required>
        </mat-form-field>
        <mat-autocomplete #autoAcro="matAutocomplete">
          <mat-option *ngFor="let option of filteredAcronyms | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field class="full-width">
          <input [formControl]="kpiBasenameFormControl"
                 [formControlName]="'kpiBaseName'"
                 matInput
                 placeholder='kpi_basenames: SGSN_2012'
                 [matAutocomplete]="autoKpi"
                 required>
        </mat-form-field>
        <mat-autocomplete #autoKpi="matAutocomplete">
          <mat-option *ngFor="let optionKpi of filteredKpiBasenames | async" [value]="optionKpi">
            {{optionKpi}}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field class="full-width">
          <input matInput id="frequency" formControlName="frequency" placeholder='frequency default = 31'>
        </mat-form-field>

        <button mat-raised-button color="primary" [type]="submit" [disabled]="!decompositionParams.valid">Fetch data
        </button>
        <button mat-raised-button color="accent" type="button" (click)="imLazy()">Im lazy</button>
      </form>
    </mat-card>
    <div style="width: 100%;">
      <div style="margin: 0 auto; width: 50%;">
        <mat-spinner *ngIf="decompositionChartLoading"></mat-spinner>
      </div>
      <div *ngIf="decompositionChartLoaded && !decompositionChartLoading">Data fetched in: {{fetchedIn}} ms</div>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card>
      <h1>Decomposition</h1>
      <mat-card>
        <h3>Decomposition result chart:</h3>

        <canvas id="myChart" width="1000" height="400"></canvas>
      </mat-card>

    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
