<mat-sidenav-container class="sidenav-container" style="height: 100%;">
  <mat-sidenav #sidenav mode="side" opened style="width: 250px;">
    <mat-card>
      <h3>Search:</h3>
      <form name="histogramsForm" (ngSubmit)="getHistogram(histogramParams, histogramDisplayComponent)" [formGroup]="histogramParams">

        <mat-form-field>
          <input formControlName="startDate"
                 matInput
                 [matDatepicker]="startDate"
                 placeholder="Start date"
                 [min]="minStartDate"
                 [max]="maxStartDate"
                 (dateChange)="setMinEndDate($event)"
                 required>
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="endDate"
                 matInput
                 [matDatepicker]="endDate"
                 placeholder="End date"
                 [min]="minEndDate"
                 [max]="maxEndDate"
                 required>
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input [formControl]="cordIDFormControl"
                 [formControlName]="'cordID'"
                 placeholder='Cord ID'
                 id="cordID"
                 matInput
                 [matAutocomplete]="autoCord"
                 required>
        </mat-form-field>
        <mat-autocomplete #autoCord="matAutocomplete">
          <mat-option *ngFor="let option of filteredCordIDs | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field class="full-width">
          <input [formControl]="acronymFormControl"
                 [formControlName]="'acronym'"
                 matInput
                 placeholder='Acronym'
                 [matAutocomplete]="autoAcro"
                 required>
        </mat-form-field>
        <mat-autocomplete #autoAcro="matAutocomplete">
          <mat-option *ngFor="let option of filteredAcronyms | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field class="full-width">
          <input [formControl]="kpiBasenameFormControl"
                 [formControlName]="'kpiBaseName'"
                 matInput
                 placeholder='Kpi basename'
                 [matAutocomplete]="autoKpi"
                 required>
        </mat-form-field>
        <mat-autocomplete #autoKpi="matAutocomplete">
          <mat-option *ngFor="let optionKpi of filteredKpiBasenames | async" [value]="optionKpi">
            {{optionKpi}}
          </mat-option>
        </mat-autocomplete>
        <mat-form-field class="full-width">
          <input matInput id="bins" formControlName="histBins" [formControl]="histBinsFormControl"
                 placeholder='Histogram bins'>
        </mat-form-field>

        <button mat-raised-button color="primary" [type]="submit" [disabled]="!histogramParams.valid">Fetch data
        </button>

        <br><br>
        <mat-form-field>
          <mat-select placeholder="Select example">
            <mat-option *ngFor="let example of examplesService.EXAMPLES; let i = index "
                        (click)="examplesService.testCase(histogramParams, example)" [value]="example">
              Test {{i+1}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button mat-raised-button color="warn" [type]="button" (click)="removeDynamicChild(histogramDisplayComponent)">Remove oldest component</button>
    </mat-card>
  </mat-sidenav>

  <mat-sidenav-content style="background-color: white;">
    <mat-card>
      <h3>Aggregates & histogram</h3>
       <div class="rotate">
        <button mat-mini-fab color="accent" (click)="sidenav.toggle()" >^</button>
      </div>

      <div>
        <ng-container #container></ng-container>
      </div>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
