<mat-sidenav-container class="sidenav-container" style="height: 100%;">
  <mat-sidenav mode="side" opened style="width: 250px;">
    <mat-card>
      <h3>Search:</h3>
      <form name="histogramsForm" (ngSubmit)="getHistogram(histogramParams)" [formGroup]="histogramParams">

        <mat-form-field class="input-line">
          <input formControlName="startDate" matInput [matDatepicker]="startDate" placeholder="Start date" required>
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="endDate" matInput [matDatepicker]="endDate" placeholder="End date" required>
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input [formControl]="cordIDFormControl"
                 [formControlName]="'cordID'"
                 placeholder='Cord ID'
                 id="cordID"
                 matInput
                 [matAutocomplete]="autoCord"
                 required>
        </mat-form-field>
        <mat-autocomplete #autoCord="matAutocomplete">
          <mat-option *ngFor="let option of filteredCordIDs | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field class="full-width">
          <input [formControl]="acronymFormControl"
                 [formControlName]="'acronym'"
                 matInput
                 placeholder='Acronym'
                 [matAutocomplete]="autoAcro"
                 required>
        </mat-form-field>
        <mat-autocomplete #autoAcro="matAutocomplete">
          <mat-option *ngFor="let option of filteredAcronyms | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field class="full-width">
          <input [formControl]="kpiBasenameFormControl"
                 [formControlName]="'kpiBaseName'"
                 matInput
                 placeholder='Kpi basename'
                 [matAutocomplete]="autoKpi"
                 required>
        </mat-form-field>
        <mat-autocomplete #autoKpi="matAutocomplete">
          <mat-option *ngFor="let optionKpi of filteredKpiBasenames | async" [value]="optionKpi">
            {{optionKpi}}
          </mat-option>
        </mat-autocomplete>
        <mat-form-field class="full-width">
          <input matInput id="bins" formControlName="histBins" [formControl] = "histBinsFormControl" placeholder='Histogram Bins'>
        </mat-form-field>


        <button mat-raised-button color="primary" [type]="submit" [disabled]="!histogramParams.valid">Fetch data</button>
        <button mat-raised-button color="accent" type="button" (click)="imLazy()">Auto</button>
      </form>
    </mat-card>
    <div style="width: 100%;">
      <div *ngIf="histogramChartLoaded && !histogramChartLoading">Data fetched in: {{fetchedIn/1000}} s</div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card style="height: 100%;">
      <h1>Aggregates & histogram</h1>
      <mat-card>
        <div style="text-align: center">
          <div class="column-container">
            <h5>MAX<br/>{{ max }}</h5>
          </div>
          <div class="column-container">
            <h5>MIN<br/>{{ min }}</h5>
          </div>
          <div class="column-container">
            <h5>COVERAGE<br/>{{ coverage }}</h5>
          </div>
          <div class="column-container">
            <h5>DEVIATION<br/>{{ deviation }}</h5>
          </div>
          <div class="column-container">
            <h5>MEAN<br/>{{ mean }}</h5>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <h3>Histogram chart:</h3>
        <canvas id="myChart" width="1000" height="300"></canvas>
        <mat-spinner *ngIf="histogramChartLoading"></mat-spinner>
      </mat-card>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
